In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [2]:
jeopardy = pd.read_csv('jeopardy.csv')
print(jeopardy.head(10))

   Show Number    Air Date      Round                         Category  Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY   $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES   $200
5         4680  2004-12-31  Jeopardy!                   3-LETTER WORDS   $200
6         4680  2004-12-31  Jeopardy!                          HISTORY   $400
7         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $400
8         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $400
9         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   $400

                                                                                                        Question  \
0               For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1    No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                       The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                           In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4       Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
5                                  In the title of an Aesop fable, this insect shared billing with a grasshopper
6                                   Built in 312 B.C. to link Rome & the South of Italy, it's still in use today
7                                         No. 8: 30 steals for the Birmingham Barons; 2,306 steals for the Bulls
8  In the winter of 1971-72, a record 1,122 inches of snow fell at Rainier Paradise Ranger Station in this state
9             This housewares store was named for the packaging its merchandise came in & was first displayed on

           Answer
0      Copernicus
1      Jim Thorpe
2         Arizona
3      McDonald's
4      John Adams
5         the ant
6  the Appian Way
7  Michael Jordan
8      Washington
9  Crate & Barrel

In [3]:
for col in jeopardy.columns:
    print(col)

Show Number
 Air Date
 Round
 Category
 Value
 Question
 Answer

In [4]:
jeopardy = jeopardy.rename(columns = {'Show Number':'Show_Number',' Air Date':'Air_Date',' Round':'Round',' Category':'Category',\
                             ' Value':'Value',' Question':'Question',' Answer':'Answer'})

In [5]:
def filter_data(data, words):
    filter = lambda x: all(word.lower() in x.lower() for word in words)
    return data.loc[data['Question'].apply(filter)]

In [6]:
print(filter_data(jeopardy, ['King','England']))

        Show_Number    Air_Date             Round               Category  \
4953           3003  1997-09-24  Double Jeopardy!           "PH"UN WORDS
6337           3517  1999-12-14  Double Jeopardy!                    Y1K
9191           3907  2001-09-04  Double Jeopardy!         WON THE BATTLE
11710          2903  1997-03-26  Double Jeopardy!       BRITISH MONARCHS
13454          4726  2005-03-07         Jeopardy!  A NUMBER FROM 1 TO 10
...             ...         ...               ...                    ...
208295         4621  2004-10-11         Jeopardy!            THE VIKINGS
208742         4863  2005-11-02  Double Jeopardy!         BEFORE & AFTER
213870         5856  2010-02-15  Double Jeopardy!                 URANUS
216021         1881  1992-11-09  Double Jeopardy!         HISTORIC NAMES
216789         5070  2006-09-29  Double Jeopardy!        ANCIENT HISTORY

         Value  \
4953      $200
6337      $800
9191      $800
11710     $600
13454    $1000
...        ...
208295    $600
208742  $3,000
213870   $1600
216021   $1000
216789   $1200

                                                                                                      Question  \
4953                  Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337    In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                  This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710             This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
13454                                     It's the number that followed the last king of England named William
...                                                                                                        ...
208295      In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England
208742                    Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
213870              In 1781 William Herschel discovered Uranus & initially named it after this king of England
216021        His nickname was "Bertie", but he used this name & number when he became king of England in 1901
216789      This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric

                              Answer
4953    Philately (stamp collecting)
6337                        Ethelred
9191                         Henry V
11710                        James I
13454                              4
...                              ...
208295         William the Conqueror
208742      William of Orange roughy
213870                    George III
216021                    Edward VII
216789                        Wessex

[152 rows x 7 columns]

In [7]:
def filter_case_sense_data(data, words):
    filter = lambda x: all(word in x for word in words)
    return data.loc[data['Question'].apply(filter)]

In [8]:
print(filter_case_sense_data(jeopardy, ['King','England']))

        Show_Number    Air_Date             Round  \
4953           3003  1997-09-24  Double Jeopardy!
14912          2832  1996-12-17         Jeopardy!
21511          4650  2004-11-19         Jeopardy!
23810          4862  2005-11-01         Jeopardy!
27555          1799  1992-05-28  Double Jeopardy!
33294          5589  2008-12-18         Jeopardy!
41148          5925  2010-05-21  Double Jeopardy!
41357          2751  1996-07-15         Jeopardy!
43122          3937  2001-10-16  Double Jeopardy!
47814          4365  2003-07-18  Double Jeopardy!
49994          5499  2008-07-03         Jeopardy!
51115          3574  2000-03-02         Jeopardy!
51565          4264  2003-02-27  Double Jeopardy!
56600          3533  2000-01-05  Double Jeopardy!
57516          4299  2003-04-17  Double Jeopardy!
58949          6250  2011-11-18  Double Jeopardy!
71808          5270  2007-07-06         Jeopardy!
74235          2757  1996-09-03         Jeopardy!
77195          3656  2000-06-26         Jeopardy!
79457          4230  2003-01-10  Double Jeopardy!
80113          5827  2010-01-05         Jeopardy!
84639          1558  1991-05-15         Jeopardy!
86412          1837  1992-09-08  Double Jeopardy!
89710          5390  2008-02-01  Double Jeopardy!
111926         1331  1990-05-21         Jeopardy!
118809         1905  1992-12-11         Jeopardy!
123299         4656  2004-11-29         Jeopardy!
123671         5718  2009-06-17         Jeopardy!
125822         4042  2002-03-12  Double Jeopardy!
127484         1325  1990-05-11  Double Jeopardy!
127758         6021  2010-11-15         Jeopardy!
129106         4906  2006-01-02  Double Jeopardy!
130208         5222  2007-05-01         Jeopardy!
137818         3368  1999-04-07         Jeopardy!
143434         1882  1992-11-10  Double Jeopardy!
150880         4790  2005-06-03  Double Jeopardy!
165110         4255  2003-02-14         Jeopardy!
165197         6272  2011-12-20  Double Jeopardy!
170007         5455  2008-05-02  Double Jeopardy!
174055         2143  1993-12-22  Double Jeopardy!
175259         3055  1997-12-05  Double Jeopardy!
183462         3099  1998-02-05   Final Jeopardy!
186239         5339  2007-11-22  Double Jeopardy!
187651         5264  2007-06-28         Jeopardy!
191579         5453  2008-04-30         Jeopardy!
192265         6292  2012-01-17  Double Jeopardy!
192966         6175  2011-06-17  Double Jeopardy!
194516         6114  2011-03-24  Double Jeopardy!
200369         2937  1997-05-13         Jeopardy!

                            Category   Value  \
4953                    "PH"UN WORDS    $200
14912                  WORLD HISTORY    $100
21511                     THE "O.C."   $1000
23810                  NAME THE YEAR    $400
27555               HISTORIC IN-LAWS    $600
33294            THE BAYEUX TAPESTRY    $600
41148                       TREATIES   $1600
41357                 HISTORIC NAMES    $400
43122                     OH, HENRY!    $400
47814                        POTIONS   $2000
49994                    REIGN DROPS   $1000
51115             ALL THINGS BRITISH    $200
51565             MUSIC APPRECIATION    $800
56600                 FRENCH HISTORY    $600
57516               THE "UN"CATEGORY   $2000
58949            ASSUME THE POSITION   $2000
71808        WHERE THERE'S A WILLIAM   $1000
74235                  WORLD HISTORY    $200
77195                        JUNE 26    $400
79457                     CONQUERORS    $800
80113                      "M" & "M"   $1000
84639              FILMS OF THE '90S    $200
86412                        ROYALTY    $400
89710                 "CAN"NED WORDS   $1600
111926                FILE UNDER "M"  $1,000
118809                KINGS & QUEENS    $300
123299                        CHAIRS    $400
123671          A YEAR ENDING IN '09   $1000
125822              PAINT IT "BLACK"  $5,000
127484               MEDIEVAL PEOPLE    $600
127758                   STATE FACTS    $600
129106            HISTORIC NICKNAMES   $2000
130208                       ROYALTY    $600
137818             PEOPLE IN HISTORY    $400
143434                           ART    $800
150880  20th CENTURY BRITISH HISTORY   $1200
165110                     HIGH COUP   $1000
165197           TOUCHED BY AN ANGEL   $2000
170007               THE SWEET 1600s   $1600
174055               HISTORIC PEOPLE    $200
175259                     THE 1930s    $400
183462                       ROYALTY    None
186239              EUROPEAN HISTORY    $800
187651   CAPITALS OF THE WEST INDIES    $600
191579                       BATTLES    $800
192265    NORWAY'S CULTURE & HISTORY   $1600
192966                 HERO SANDWICH    $800
194516           THE YUCKS STOP HERE   $1600
200369               BRITISH HISTORY    $200

                                                                                                                                                                                                                                                                                                                                                        Question  \
4953                                                                                                                                                                                                                                                                    Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
14912                                                                                                                                                                                                                                                          This country's King Louis IV was nicknamed "Louis From Overseas" because he was raised in England
21511                                                                                                                                                                                                                                                                               this man and his son ruled England following the execution of King Charles I
23810                                                                                                                                                                                                                                                       William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year
27555                                                                                                                                                                                                                                                                         This member of the Medici family was the mother-in-law of England's King Charles I
33294               (Sarah of the Clue Crew delivers the clue from the Bayeux Cathedral in France.)  Despite taking an oath to assure another succession, Harold is crowned King of England; the tapestry indicated it was <a href="http://www.j-archive.com/media/2008-12-18_J_08.jpg" target="_blank">Stigant</a>, this archbishop, who performed the ceremony
41148                                                                                                                                                                                                                                  This French king recognized William of Orange as William II, King of England, under the terms of 1697's Treaty of Ryswick
41357                                                                                                                                                                                                                                                   England's King Henry VIII had 3 wives named Catherine:  Catherine Howard, Catherine of Aragon & this one
43122                                                                                                                                                                                                                                                                                                                     The father of England's King Edward VI
47814                                                                                                                                                                                                                                                                                                 This steak sauce was created for King George IV of England
49994                                                                                                                                                                                                                                                                     Elizabeth I's half-brother, he reigned before her as King of England from 1547 to 1553
51115                                                                                                                (<a href="http://www.j-archive.com/media/2000-03-02_J_22.jpg" target="_blank">Alex Trebek reads from England.</a>)  In 1214 barons fed up with King John met at the abbey whose ruins we see here; the result a year later was this charter
51565                                                                                                                                                                                                                                               He wrote several anthems, including "The King Shall Rejoice", for the coronation of England's King George II
56600                                                                                                                                                                                                                                                            This city known for its 24-hour auto race was the birthplace of England's King Henry II in 1133
57516                                                                                                                                                                                                                                                                                       Famous (& rather insulting) adjective for England's King Ethelred II
58949                                                                                                                                                                                                                                                                      He became King of England in 1399 after forcing his cousin Richard II from the throne
71808                                                                                                                                                                                                                                                                                    Number of the William who was England's "Sailor King" from 1830 to 1837
74235                                                                                                                                                                                                                                                                   Barons & churchmen drew up this 1215 document to reduce the power of England's King John
77195                                                                                                                                                                                                                                                        He became King of England on June 26, 1483; just over 2 years later he was killed at Bosworth Field
79457                                                                                                                                                                                                                                            On Christmas Day 1066, he was crowned King of England, 72 days after defeating Harold at the Battle of Hastings
80113                                                                                                                                                                                                                                                                                              England's King Charles II was known by this "jovial" nickname
84639                                                                                                                                                                                                                                                                          He went from second banana on "Roseanne" to top banana of England in "King Ralph"
86412                                                                                                                                                                                                                                                                       This country's King Olaf V was born in England & was the grandson of King Edward VII
89710                                                                                                                                                                                                                                                          This 11th Century King of England also ruled Denmark & Norway during the latter part of his reign
111926                                                                                                                                                                                                                                                 It begins "John, by the grace of God, King of England, Lord of Ireland, Duke of Normandy & Aquitaine...."
118809                                                                                                                                                                                                                                                                                          In French this King of England is called Guillaume le Conquerant
123299                                                                                                                                                                                                                                                                   If you want to be crowned King of England, this rock has to be in your coronation chair
123671                                                                                                                                                                                                                                                                                                                            King Henry VII of England dies
125822                                                                                                                                                                                                                                                                                            Famous nickname of the eldest son of England's King Edward III
127484                                                                                                                                                                                                                                                              Ethelred the Unready managed to lose most of England to King Sweyn Forkbeard of this country
127758                                                                                                                                                                                                                                                                                This state was named for the King of England who reigned from 1727 to 1760
129106                                                                                                                                                                                                                                                            King Edward I of England, who fought William Wallace, had this nickname relating to his height
130208                                                                                                                                                                                                                                                                                  This "Sun King" sniffed, "England is a little garden full of sour weeds"
137818                                                                                                                                                                                                                                                                                      The last King William to rule England had this number after his name
143434                                                                                                                                                                                                                                                              This Flemish artist painted a unique triple portrait of England's King Charles I around 1637
150880                                                                                                                                                                                                                                                                                     During Stanley Baldwin's term as P.M., this King of England abdicated
165110                                                                                                                                                                                                                                                      The 1st commoner to rule England, he became lord protector following the overthrow of King Charles I
165197                                                                                                                                                                                                                                                     The "Angel of Hadley" is said to have saved a New England town during the war with this Indian "King"
170007                                                                                                                                                                                                                                                              In the 1697 Treaty of Rijswijk, the French recognized this Dutch-born man as King of England
174055                                                                                                                                                                                                                                                                                          This conqueror was crowned King of England on Christmas Day 1066
175259                                                                                                                                                                                                                                                                                                        His short reign as King of England fell in in 1936
183462                                                                                                                                                                                                                                                          A capital in the West Indies is named for this family name of William of Orange, King of England

In [9]:
def filter_exact_word(data, words):
    filter = lambda x: all(word in x for word in words)
    return data.loc[data['Question'].apply(filter)]

In [10]:
print( filter_exact_word(jeopardy, [' King ',' England ']))

        Show_Number    Air_Date             Round  \
21511          4650  2004-11-19         Jeopardy!
23810          4862  2005-11-01         Jeopardy!
49994          5499  2008-07-03         Jeopardy!
58949          6250  2011-11-18  Double Jeopardy!
77195          3656  2000-06-26         Jeopardy!
86412          1837  1992-09-08  Double Jeopardy!
89710          5390  2008-02-01  Double Jeopardy!
118809         1905  1992-12-11         Jeopardy!
127484         1325  1990-05-11  Double Jeopardy!
127758         6021  2010-11-15         Jeopardy!
137818         3368  1999-04-07         Jeopardy!
150880         4790  2005-06-03  Double Jeopardy!
174055         2143  1993-12-22  Double Jeopardy!
175259         3055  1997-12-05  Double Jeopardy!
186239         5339  2007-11-22  Double Jeopardy!
200369         2937  1997-05-13         Jeopardy!

                            Category  Value  \
21511                     THE "O.C."  $1000
23810                  NAME THE YEAR   $400
49994                    REIGN DROPS  $1000
58949            ASSUME THE POSITION  $2000
77195                        JUNE 26   $400
86412                        ROYALTY   $400
89710                 "CAN"NED WORDS  $1600
118809                KINGS & QUEENS   $300
127484               MEDIEVAL PEOPLE   $600
127758                   STATE FACTS   $600
137818             PEOPLE IN HISTORY   $400
150880  20th CENTURY BRITISH HISTORY  $1200
174055               HISTORIC PEOPLE   $200
175259                     THE 1930s   $400
186239              EUROPEAN HISTORY   $800
200369               BRITISH HISTORY   $200

                                                                                                                 Question  \
21511                                        this man and his son ruled England following the execution of King Charles I
23810                William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year
49994                              Elizabeth I's half-brother, he reigned before her as King of England from 1547 to 1553
58949                               He became King of England in 1399 after forcing his cousin Richard II from the throne
77195                 He became King of England on June 26, 1483; just over 2 years later he was killed at Bosworth Field
86412                                This country's King Olaf V was born in England & was the grandson of King Edward VII
89710                   This 11th Century King of England also ruled Denmark & Norway during the latter part of his reign
118809                                                   In French this King of England is called Guillaume le Conquerant
127484                       Ethelred the Unready managed to lose most of England to King Sweyn Forkbeard of this country
127758                                         This state was named for the King of England who reigned from 1727 to 1760
137818                                               The last King William to rule England had this number after his name
150880                                              During Stanley Baldwin's term as P.M., this King of England abdicated
174055                                                   This conqueror was crowned King of England on Christmas Day 1066
175259                                                                 His short reign as King of England fell in in 1936
186239  He was King of England from 1189 to 1199 but spent only 6 months there; the rest of the time, he was off fighting
200369    8th C. King Offa built a 170-mile north-south dike that still partly marks the border of England & this country

                       Answer
21511         Oliver Cromwell
23810                    1066
49994               Edward VI
58949                Henry IV
77195             Richard III
86412                  Norway
89710                  Canute
118809  William the Conqueror
127484                Denmark
127758                Georgia
137818                     IV
150880       King Edward VIII
174055                William
175259       King Edward VIII
186239  Richard the Lionheart
200369                  Wales

In [11]:
def filter_not_word(data, words):
    filter = lambda x: all(not word in x for word in words)
    return data.loc[data['Question'].apply(filter)]

In [12]:
print(filter_not_word(jeopardy, ['King','England']))

        Show_Number    Air_Date             Round  \
0              4680  2004-12-31         Jeopardy!
1              4680  2004-12-31         Jeopardy!
2              4680  2004-12-31         Jeopardy!
3              4680  2004-12-31         Jeopardy!
4              4680  2004-12-31         Jeopardy!
...             ...         ...               ...
216925         4999  2006-05-11  Double Jeopardy!
216926         4999  2006-05-11  Double Jeopardy!
216927         4999  2006-05-11  Double Jeopardy!
216928         4999  2006-05-11  Double Jeopardy!
216929         4999  2006-05-11   Final Jeopardy!

                               Category  Value  \
0                               HISTORY   $200
1       ESPN's TOP 10 ALL-TIME ATHLETES   $200
2           EVERYBODY TALKS ABOUT IT...   $200
3                      THE COMPANY LINE   $200
4                   EPITAPHS & TRIBUTES   $200
...                                 ...    ...
216925                   RIDDLE ME THIS  $2000
216926                        "T" BIRDS  $2000
216927           AUTHORS IN THEIR YOUTH  $2000
216928                       QUOTATIONS  $2000
216929                   HISTORIC NAMES   None

                                                                                                                      Question  \
0                             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1                  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4                     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
...                                                                                                                        ...
216925                                              This Puccini opera turns on the solution to 3 riddles posed by the heroine
216926                 In North America this term is properly applied to only 4 species that are crested, including the tufted
216927               In Penny Lane, where this "Hellraiser" grew up, the barber shaves another customer--then flays him alive!
216928  From Ft. Sill, Okla. he made the plea, Arizona is my land, my home, my father's land, to which I now ask to... return"
216929                 A silent movie title includes the last name of this 18th c. statesman & favorite of Catherine the Great

                                Answer
0                           Copernicus
1                           Jim Thorpe
2                              Arizona
3                           McDonald's
4                           John Adams
...                                ...
216925                        Turandot
216926                      a titmouse
216927                    Clive Barker
216928                        Geronimo
216929  Grigori Alexandrovich Potemkin

[214256 rows x 7 columns]

In [13]:
print(jeopardy.Value.unique())

['$200' '$400' '$600' '$800' '$2,000' '$1000' '$1200' '$1600' '$2000'
 '$3,200' 'None' '$5,000' '$100' '$300' '$500' '$1,000' '$1,500' '$1,200'
 '$4,800' '$1,800' '$1,100' '$2,200' '$3,400' '$3,000' '$4,000' '$1,600'
 '$6,800' '$1,900' '$3,100' '$700' '$1,400' '$2,800' '$8,000' '$6,000'
 '$2,400' '$12,000' '$3,800' '$2,500' '$6,200' '$10,000' '$7,000' '$1,492'
 '$7,400' '$1,300' '$7,200' '$2,600' '$3,300' '$5,400' '$4,500' '$2,100'
 '$900' '$3,600' '$2,127' '$367' '$4,400' '$3,500' '$2,900' '$3,900'
 '$4,100' '$4,600' '$10,800' '$2,300' '$5,600' '$1,111' '$8,200' '$5,800'
 '$750' '$7,500' '$1,700' '$9,000' '$6,100' '$1,020' '$4,700' '$2,021'
 '$5,200' '$3,389' '$4,200' '$5' '$2,001' '$1,263' '$4,637' '$3,201'
 '$6,600' '$3,700' '$2,990' '$5,500' '$14,000' '$2,700' '$6,400' '$350'
 '$8,600' '$6,300' '$250' '$3,989' '$8,917' '$9,500' '$1,246' '$6,435'
 '$8,800' '$2,222' '$2,746' '$10,400' '$7,600' '$6,700' '$5,100' '$13,200'
 '$4,300' '$1,407' '$12,400' '$5,401' '$7,800' '$1,183' '$1,203' '$13,000'
 '$11,600' '$14,200' '$1,809' '$8,400' '$8,700' '$11,000' '$5,201'
 '$1,801' '$3,499' '$5,700' '$601' '$4,008' '$50' '$2,344' '$2,811'
 '$18,000' '$1,777' '$3,599' '$9,800' '$796' '$3,150' '$20' '$1,810' '$22'
 '$9,200' '$1,512' '$8,500' '$585' '$1,534' '$13,800' '$5,001' '$4,238'
 '$16,400' '$1,347' '$2547' '$11,200']

In [14]:
jeopardy['float_value'] = jeopardy.Value.apply(lambda x:x[1:])

In [15]:
print(jeopardy.head(10))

   Show_Number    Air_Date      Round                         Category Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200
5         4680  2004-12-31  Jeopardy!                   3-LETTER WORDS  $200
6         4680  2004-12-31  Jeopardy!                          HISTORY  $400
7         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $400
8         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $400
9         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $400

                                                                                                        Question  \
0               For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1    No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                       The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                           In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4       Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
5                                  In the title of an Aesop fable, this insect shared billing with a grasshopper
6                                   Built in 312 B.C. to link Rome & the South of Italy, it's still in use today
7                                         No. 8: 30 steals for the Birmingham Barons; 2,306 steals for the Bulls
8  In the winter of 1971-72, a record 1,122 inches of snow fell at Rainier Paradise Ranger Station in this state
9             This housewares store was named for the packaging its merchandise came in & was first displayed on

           Answer float_value
0      Copernicus         200
1      Jim Thorpe         200
2         Arizona         200
3      McDonald's         200
4      John Adams         200
5         the ant         200
6  the Appian Way         400
7  Michael Jordan         400
8      Washington         400
9  Crate & Barrel         400

In [16]:
print(type(jeopardy.float_value))

<class 'pandas.core.series.Series'>

In [17]:
jeopardy['float_value'] = [x.replace(",","") for x in jeopardy.float_value]

In [18]:
jeopardy['float_value'] = [x.replace("one","0") for x in jeopardy.float_value]

In [19]:
print(jeopardy['float_value'])

0          200
1          200
2          200
3          200
4          200
          ...
216925    2000
216926    2000
216927    2000
216928    2000
216929       0
Name: float_value, Length: 216930, dtype: object

In [20]:
jeopardy['float_value'] = [float(x) for x in jeopardy.float_value]

In [21]:
print(jeopardy.head(10))

   Show_Number    Air_Date      Round                         Category Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200
5         4680  2004-12-31  Jeopardy!                   3-LETTER WORDS  $200
6         4680  2004-12-31  Jeopardy!                          HISTORY  $400
7         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $400
8         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $400
9         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $400

                                                                                                        Question  \
0               For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1    No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                       The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                           In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4       Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
5                                  In the title of an Aesop fable, this insect shared billing with a grasshopper
6                                   Built in 312 B.C. to link Rome & the South of Italy, it's still in use today
7                                         No. 8: 30 steals for the Birmingham Barons; 2,306 steals for the Bulls
8  In the winter of 1971-72, a record 1,122 inches of snow fell at Rainier Paradise Ranger Station in this state
9             This housewares store was named for the packaging its merchandise came in & was first displayed on

           Answer  float_value
0      Copernicus        200.0
1      Jim Thorpe        200.0
2         Arizona        200.0
3      McDonald's        200.0
4      John Adams        200.0
5         the ant        200.0
6  the Appian Way        400.0
7  Michael Jordan        400.0
8      Washington        400.0
9  Crate & Barrel        400.0

In [22]:
print(jeopardy.float_value.mean())

739.9884755451067

In [23]:
print(jeopardy.Answer.value_counts())

China                             216
Australia                         215
Japan                             196
Chicago                           194
France                            193
                                 ...
the barre (or bar)                  1
grams                               1
the Hopis                           1
free parking                        1
Grigori Alexandrovich Potemkin      1
Name: Answer, Length: 88268, dtype: int64

In [24]:
filter_king = filter_data(jeopardy, [" KING "])
print(filter_king.head())
unquie_answer = filter_king.Answer.unique()
nunquie_answer = filter_king.Answer.nunique()
print(unquie_answer)
print(nunquie_answer)

      Show_Number    Air_Date             Round                    Category  \
40           4680  2004-12-31  Double Jeopardy!  DR. SEUSS AT THE MULTIPLEX
781          4335  2003-06-06         Jeopardy!                   MY PLACE?
811          4335  2003-06-06  Double Jeopardy!                 "S"-OTERICA
896          3834  2001-04-12         Jeopardy!          AIN'T THAT AMERICA
1074         4085  2002-05-10         Jeopardy!                CENTRAL PARK

      Value  \
40    $1200
781    $200
811    $400
896    $200
1074   $400

                                                                                                                                                                               Question  \
40    <a href="http://www.j-archive.com/media/2004-12-31_DJ_26.mp3">Ripped from today's headlines, he was a turtle king gone mad; Mack was the one good turtle who'd bring him down</a>
781                                                                                                            A Norman could say, "I'm the king of the motte-and-bailey style of" this
811                                                                                                      Examples of this TV format include "Leave It to Beaver" & "The King of Queens"
896                                                                                                            This state was named for a man who was a European king from 1643 to 1715
1074                                                                      Central Park has a statue of King Wladyslaw II Jagiello of this country, who was also Grand Duke of Lithuania

         Answer  float_value
40       Yertle       1200.0
781      castle        200.0
811      sitcom        400.0
896   Louisiana        200.0
1074     Poland        400.0
['Yertle' 'castle' 'sitcom' ... '8' '(John) Hancock'
 'a pyramid (the pyramids accepted)']
1040

In [25]:
jeopardy['Year'] = jeopardy.Air_Date.apply(lambda x:x[:4])
jeopardy['Century'] = jeopardy.Air_Date.apply(lambda x:'1900s' if x[:1] == '1' else '2000s' )
print(jeopardy.head(10))
print(jeopardy.Year.unique())

   Show_Number    Air_Date      Round                         Category Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200
5         4680  2004-12-31  Jeopardy!                   3-LETTER WORDS  $200
6         4680  2004-12-31  Jeopardy!                          HISTORY  $400
7         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $400
8         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $400
9         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $400

                                                                                                        Question  \
0               For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1    No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                       The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                           In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4       Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
5                                  In the title of an Aesop fable, this insect shared billing with a grasshopper
6                                   Built in 312 B.C. to link Rome & the South of Italy, it's still in use today
7                                         No. 8: 30 steals for the Birmingham Barons; 2,306 steals for the Bulls
8  In the winter of 1971-72, a record 1,122 inches of snow fell at Rainier Paradise Ranger Station in this state
9             This housewares store was named for the packaging its merchandise came in & was first displayed on

           Answer  float_value  Year Century
0      Copernicus        200.0  2004   2000s
1      Jim Thorpe        200.0  2004   2000s
2         Arizona        200.0  2004   2000s
3      McDonald's        200.0  2004   2000s
4      John Adams        200.0  2004   2000s
5         the ant        200.0  2004   2000s
6  the Appian Way        400.0  2004   2000s
7  Michael Jordan        400.0  2004   2000s
8      Washington        400.0  2004   2000s
9  Crate & Barrel        400.0  2004   2000s
['2004' '2010' '2000' '2006' '2009' '1996' '2007' '1997' '2002' '2003'
 '2001' '1990' '1999' '2008' '2011' '2005' '1998' '2012' '1992' '1986'
 '1985' '1991' '1993' '1994' '1988' '1987' '1995' '1984' '1989']

In [26]:
filter_computer = filter_data(jeopardy, ["computer"])
print(filter_computer.groupby('Year').Show_Number.count().reset_index())
print(filter_computer.groupby('Century').Show_Number.count().reset_index())

    Year  Show_Number
0   1984            1
1   1986            1
2   1987            1
3   1988            2
4   1989            1
5   1990            5
6   1991            1
7   1992            1
8   1993            1
9   1995            2
10  1996            6
11  1997           25
12  1998           25
13  1999           32
14  2000           25
15  2001           17
16  2002           14
17  2003           18
18  2004           25
19  2005           31
20  2006           34
21  2007           45
22  2008           27
23  2009           32
24  2010           30
25  2011           24
26  2012            5
  Century  Show_Number
0   1900s          104
1   2000s          327

In [27]:
filter_literature = filter_data(jeopardy, ["Literature"])
print(filter_literature.head())
filter_literature_field = filter_literature.groupby(['Category','Round']).Show_Number.count().reset_index()
filter_literature_pivot = filter_literature_field.pivot(columns = 'Round', index='Category', values='Show_Number').reset_index()
print(filter_literature_pivot)

      Show_Number    Air_Date             Round            Category  Value  \
831          4335  2003-06-06  Double Jeopardy!         PLAYWRIGHTS  $2000
4312         3403  1999-05-26  Double Jeopardy!           TOM JONES  $1000
4886         3331  1999-02-15         Jeopardy!  WORDS WITHIN WORDS   $500
5264         3254  1998-10-29  Double Jeopardy!  FEELING POSSESSIVE  $1000
5409         2047  1993-06-29         Jeopardy!              TAIWAN   $400

                                                                                                               Question  \
831   Born in 1799, this poet, novelist & playwright is to Russian literature what Shakespeare is to English literature
4312                             This "Kubla Khan" poet thought "Tom Jones" had 1 of the 3 best plots in all literature
4886                                                          Type of literature often produced by oversensitive youths
5264                                                                           In literature, gamekeeper Oliver Mellors
5409                                           It is prohibited to bring literature promoting this ideology into Taiwan

                       Answer  float_value  Year Century
831         Alexander Pushkin       2000.0  2003   2000s
4312  Samuel Taylor Coleridge       1000.0  1999   1900s
4886    Verse (oVERSEnsitive)        500.0  1999   1900s
5264  Lady Chatterley's Lover       1000.0  1998   1900s
5409                Communism        400.0  1993   1900s
Round               Category  Double Jeopardy!  Final Jeopardy!  Jeopardy!
0                       "DA"               1.0              NaN        NaN
1                  "F" TROOP               1.0              NaN        NaN
2                "GUN" SMOKE               1.0              NaN        NaN
3       "W"HO CAN IT BE NOW?               NaN              NaN        1.0
4      "Y" IS THE ONLY VOWEL               NaN              NaN        1.0
..                       ...               ...              ...        ...
123                WINDMILLS               1.0              NaN        NaN
124            WOMEN AUTHORS               NaN              1.0        NaN
125            WOMEN WRITERS               NaN              NaN        1.0
126       WORDS WITHIN WORDS               NaN              NaN        1.0
127         WORLD LITERATURE               1.0              NaN        NaN

[128 rows x 4 columns]

In [30]:
print(input("Hello! What is your Name?"))
print("Your Question for today is:")
select_random = jeopardy.sample()
print(select_random['Question'])
answer_guessed = print(input("Answer:"))
# lower_answer = select_random['Answer'].lower()
if select_random['Answer'].str.lower() == answer_guessed.str.lower():
    print("Congrats!!! Your are Right.")
else:
    print("Sorry. You are Wrong.")

Hello! What is your Name?Naina
Naina
Your Question for today is:
103743    Azuma, Krakatoa
Name: Question, dtype: object
Answer:ok
ok

AttributeError: 'NoneType' object has no attribute 'str'